

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    background-color: #f87a29;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;  
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #f87a29;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
