header {
    background: url('hero_bg.png') no-repeat center center/cover;
    padding-top: 10px;   
    padding-bottom: 200px; 
    color: rgb(255, 255, 255);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 0 5%; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none; 
}
#language {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border: none; 
    padding: 5px 10px;
    border-radius: 5px; 
}

.auth-buttons {
    display: flex; 
    align-items: center; 
}

.auth-buttons select {
    margin-right: 10px; 
}

.auth-buttons a {
    color: white; 
    margin-left: 10px;   
}

#signup {
    background-color: #f87a29; 
    color: white;      
    margin-left: 10px;     
    border-radius: 20px;            
    text-align: center;
    padding: 10px 30px;
}

.hero {
    padding: 120px 5%;
    line-height: 0.5;
}

.hero h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem; 
}

.book { 
    margin: 0 5%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.tabs button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.tabs button.active {
    background-color: #ffa500;
    color: white;
    border-radius: 4px;
}

.booking-form {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}

.search-btn {
    border-radius: 10%;
    margin-top: auto;
}


@media (min-width: 768px) {
    .booking-form {
        flex-direction: row; 
    }

    .hero {
        padding: 120px 10%; 
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; 
        padding: 10px; 
    }

    .nav-links {
        flex-direction: column; 
        gap: 10px; 
    }

    .auth-buttons {
        margin-top: 10px; 
    }
}
